body{
    background-image: url("../Asset/background.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header{
    background: #02427A;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img{
    padding-left: 30px;
    width: 100px;
    height: 100px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li a:hover {
    text-decoration: underline;
    text-shadow:2px 2px 4px black;
}

.tagline h1{
    padding-top: 50px;
    text-align: center;
    font-size: 75px;
}

.tagline h1 .fun{
    color: #E24077;
}
.tagline h1 .bri{
    color: #02427A;
}

.tagline p{
    margin: -20px 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: black;
}

.content h1{
    padding-top: 100px;
    color: #02427A;
    text-align: center;
    font-size: 50px;
}

hr{
    border: none;
    border-top: 5px solid #02B3F0;
    margin: -30px 100px 50px 100px;
}

.icon_features{
    margin:auto;
    margin-top: 50px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #0086b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon_features img{
    max-width: 75%;
    max-height: 75%;
    border-radius: 5px;
}

.content h2{
    text-align: center;
    font-size: 30px;
    color:#02427A;
    
}

.content p{
    text-align: center;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color:black;
}

.plans{
    align-content: center;
    margin:auto;
    margin-top: 50px;
    text-align: center;
    width: 700px;
    height: 550px;
    background-color:#02427A;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.plans h2{
    margin-top: -10px;
    font-size: 45px;
    color: white;
}

.plans h3{
    font-size: 35px;
    color: white;
}

.plans h4{
    margin-bottom: 0px;
    text-decoration: underline;
    font-size: 30px;
    color: white;
}

.plans p{
    font-size: 20px;
    color: white;
}

.subscribe_now {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.subscribe-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.more{
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
}

.faq h2{
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
}

.faq p{
    text-align: left;
    padding-left: 335px;
    padding-right: 300px;
}

footer{
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    background:#02427A;
}

footer img{
    padding-left: 30px;
    align-items: center;
    width: 150px;
    height: 150px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.footer-left{
    flex: 1;
}

.footer-logo {
    width: 150px;
}

.footer-right{
    flex-direction: column;
    align-items: flex-end;
}

.contact-info p{
    text-align: right;
    color: white;
    margin: 5px 0;
}

.social-media ul{
    list-style: none;
    margin: 0;
    padding: 15px;
    padding-left: 66%;
    display: flex;
}

.social-media ul li{
    margin-left: 3px;
}

.social-media ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.social-media ul li a img{
    width: 25px;
    height: 25px;
}

.social-media ul li a:hover{
    text-decoration: underline;
    text-shadow:2px 2px 4px black;
}

.quick-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.quick-links ul li{
    margin-left: 30px;
}

.quick-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.quick-links ul li a:hover{
    text-decoration: underline;
    text-shadow:2px 2px 4px black;
}